@charset "UTF-8";
@-o-viewport{
    zoom: 1;
    width: extend-to-zoom;
}
html {
    font-size: 62.5;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    min-height: 10vh;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav .logo{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 1.3rem;
}
nav a:hover{
    color: crimson;
}
.button{
    padding-top: 20px;
    border: 2px solid #ddd;
    text-align: center;
    padding: 15px 40px;
    margin: 20px auto;
    border-radius: 30px;
    transition: 0.25s;
    cursor: pointer;
    color: white;
    background-color: transparent;
    letter-spacing: 1.2px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    align-content: center;
}
.button:hover{
    background-color: turquoise;
    border: 2px solid turquoise;
    color: black;
}
.heading{
    margin-bottom: 20px;
}
.home-page{
    text-align: center;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about{
    background-color: #ddd;
    background: url(../images/0.jpg) no-repeat left;
    background-size: 58%;
    overflow: hidden;
    padding: 120px 0;
}
.about-me{
    width: 55%;
    float: right;
    background-color: #ddd;
    padding: 60px;
}

.projects{
    margin-top: 30px;
}

/* now edwin */
.projects__heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    color: coral;
    font-weight: 500;
    text-align: center;
    padding-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .projects__heading {
        padding-top: 4rem; 
    } 
}
  
  .projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    margin-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .projects__container {
        margin-top: 3rem; 
    } 
}
  
  .projects__card { 
    border-radius: 10px;
    width: 23rem;
    position: relative;
    overflow: hidden;
}
   .projects__card::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4; 
    } 
  
  .projects__img {
    border-radius: 10px;
    
    padding: 8px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 0.45s ease-in-out; 
}
  
  .projects__description {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    color:white;
    transform: translate(-50%, -50%); 
    
}
  
  .projects__name {
    font-size: 2rem; }
  
  .projects__detail {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 1rem 0 1rem; 
}
.projects__card:hover .overlay {
    opacity: .8; 
    background-color: black;  

}
  
  .projects__card:hover .projects__description {
    display: flex;
    transition: all 0.45s ease-in-out;
    z-index: 5; 
}
  
  .projects__card:hover .projects__img {
    transform: scale(1.2); 
    opacity: .4; 
}
  
  .projects__card .overlay {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: all 0.45s ease-in-out; 
}
/* end of edwin */

.about-me h1{
    margin-bottom: 15px;
}
.container{
    margin-right: 20px;
    margin-left: 20px;
}
.contact-me{
    padding: 80px;
}
.contact-us{
    padding: 80px;
}
.contact-us h1{
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-us h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
    margin-top: 40px;
}
.contact-us p{
    font-size: 1rem;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-us p a{
    text-decoration: none;
    color: blue;
}
.contact-us ul li{
    list-style: none;
    margin: 20px;
}
.contact-us ul{
    display: flex;
}
.contact{
    display: flex;
    justify-content: center;
}
.contact-me input[type="text"],.contact-me input[type="email"]{
    display: flex;
    padding: 15px;
    width: 50vh;
    border: 1px #ddd solid;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
textarea{
    padding: 15px;
    width: 50vh;
    border: 1px #ddd solid;
    border-radius: 4px;
    font-size: 1.2rem;
}
.contact-me h1{
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-me input[type="submit"]{
    display: flex;
    margin-top: 20px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ddd;
    padding: 15px 40px;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #2ecc71;
    font-size: 1.2rem;
}
.contact-me input[type="submit"]:hover{
    color: white;
}

/** Responsive **/

.divs div{
    width: 25px;
    height: 5px;
    color: white;
    margin: 5px;
}
.divs{
    display: none;
}

@media only screen and (max-width:1024px){
    nav ul{
        width: 100%;
    }
    .about-me{
        padding: 80px;
        width: 100%;
    }
    .container{
        margin-right: 0;
        margin-left: 0;
    }
    .about-me h1{
        text-align: center;
    }
    .about-me{
        padding: 70px;
    }
    .about{
        padding: 0;
    }
    .contact-me{
        padding: 0;
        margin-left: 15px;
    }
    .contact-us{
        padding: 0;
        margin-left: 15px;
    }
    .contact{
        margin-top: 50px;
    }
}
@media only screen and (max-width:880px){
    nav ul{
        position: absolute;
        left: 0;
        height: 100vh;
        top: 0;
        background-color: #1d1d1d;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    nav{
        display: flex;
    }
    .divs{
        display: block;
        cursor: pointer;
    }
    .divs div{
        background-color: #ddd;
        width: 25px;
        height: 3px;
        margin: 5px;
        transition: all 0.3s ease;
    }
    .resume ul{
        display: block;
    }
    .contact{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
@media only screen and (min-width:540px){
    .contact-me{
        margin-left: 80px;
    }
    .contact-us{
        margin-left: 80px;
    }
}
@media only screen and (max-width:640px){
    .portfolio{
        padding: 0;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:280px){
    .about{
        padding: 0;
    }
    .about-me{
        padding: 15px;
    }
}